h1:hover{
-webkit-transform: rotateZ(180deg);
-moz-transform: rotateZ(180deg);
-o-transform: rotateZ(180deg);
-ms-transform: rotateZ(180deg);
transform: rotateZ(180deg);
}

h1{                /* transition property duration transition-timing-function transition-delay*/
webkit-transition: all 2s linear 1s;
ms-transition: all 2s linear 1s;
o-transition: all 2s linear 1s;
-transition: all 2s linear 1s;
}

/*animation code*/
@keyframes raman {
    0%    {
    left:0px; top:100px;
    }
    25%   {
    left:200px; top:100px;
    }
    50%  {
    left:200px; top:200px;
    }
    75%  {
    left:0px; top:200px;
    }
    100% {
    left:0px; top:300px;
    }
}

@keyframes scroll{
    0%,100% {
        left: 0%;
    }
    20%{
        left:20%
    }
    40% {
        left: 40%;
    }
    60%{
        left:60%;
    }
    80%{
        left:80%
    }
    100%{
        left:100%
    }
}

.scroll{
position: absolute;
-webkit-animation: scroll 10s infinite;
-moz-animation: scroll 10s infinite;
-o-animation: scroll 10s infinite;
-ms-animation: scroll 10s infinite;
animation: scroll 10s infinite;
}
