
<section class="container-fluid">
    <header></header>
    <article class="container">
      <form>

        <div class="form-group">
          <label for="username">User Name </label>
          <input type="text" id="username" name="username" placeholder="UserName" ng-model="user.username">
        </div>

        <div class="form-group">
          <label for="password">Enter Password </label>
          <input type="text" id="password" name="password" placeholder="Enter Password" ng-model="user.password">
        </div>

        <button type="submit" class="btn btn-primary" ng-click="signin()">
          <!--inside the button add gylphicon icons by using i-->
          <i class="glyphicon glyphicon-ok-sign"></i> &nbsp;
          Sign in

        </button>

        <button type="button" class="btn btn-danger">
          <!--inside the button add gylphicon icons by using i-->
          <i class="glyphicon glyphicon-remove-circle"></i>
          &nbsp;cancel
        </button>
      </form>
    </article>
    <footer></footer>
</section>
