header{
text-align:center;
}


form{
     border:10px solid #000;
     margin:0px auto;
     width:250px;
     text-align:left;
     padding:10px 10px;
     border-top-left-radius:20px;
     border-top-right-radius:20px;
      border-bottom-right-radius:20px;
      border-bottom-left-radius:20px;

}
input{
    display:block;
    margin:8px;
    padding:3px 3px;
    border:2px solid;

    button[type="submit"]{
        background-color:#00f;
        color:#fff;
    }
}
button[type="reset"]{
    background-color:#f00;
    color:#fff;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float:right;
}

li a {

   text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

footer{
text-align:center;
}


